[submodule "themes/origin"]
	path = themes/origin
	url = https://gitlab.com/asleeppiano/origin-hugo-theme.git
[submodule "public"]
	path = public
	url = git@github.com:giusdp/giusdp.github.io.git
	branch = master
